.hero-section-acc {
    background-image: url("D:/sports/sportsgoods/src/images/background4.jpg"); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  .hero-content-acc {
    background-color: rgba(0, 0, 0, 0.6); /* dark overlay for better text visibility */
    padding: 50px;
    border-radius: 12px;
    text-align: center;
  }