
.hero-section {
    background-image: url("D:/sports/sportsgoods/src/images/background2.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  .hero-content {
    background-color: rgba(0, 0, 0, 0.6); 
    padding: 50px;
    border-radius: 12px;
    text-align: center;
  }
  .custom-carousel {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .text-container {
    padding: 10px 15px;
  }

  @media (max-width: 768px) {
    .custom-carousel {
      max-width: 100%; /* full width on small screens */
    }
  }
  

.customer-img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin: 10px;
}

.review-text {
  font-size: 0.95rem;
  color: #555;
  max-width: 300px;
}

.star-rating {
  font-size: 1.2rem;
  color: #ffc107; /* Bootstrap warning color for yellow stars */
}



  /* Service Section Styles */
.service-section {
  background-color: #f3f4f8; /* Light gray, change to any color you like */
  padding: 30px 0;
}

.service-icon {
  font-size: 40px; /* Increases icon size, adjust as needed */
  color:green;  /* Optional: adds a nice color to icons */
}

.service-text {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 8px;
}

.divider {
  border-left: 2px solid #ccc;
  height: 40px;
}


