
.register-page {
  
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 3%;
}

.card {
  /* margin-top: 2px; */
  border: none;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
  padding-bottom: 5px;
}

.card-header {
  background-color: #28a745;
  padding: 1.5rem 1rem;
  text-align: center;
}

.card-header h4 {
  color: white;
  margin: 0;
  font-weight: bold;
  font-size: 1.5rem;
}

.card-body {
  padding: 2rem;
}

.form-label {
  font-weight: 600;
  color: #333;
}

.form-control {
  border-radius: 0.5rem;
  padding: 0.75rem;
  border: 1px solid #ced4da;
  transition: border 0.3s ease;
}

.form-control:focus {
  border-color: #28a745;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.btn-success {
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  background-color: #28a745;
  border: none;
  transition: background-color 0.3s;
}

.btn-success:hover {
  background-color: #218838;
}

.fw-bold {
  font-weight: bold;
  margin-top: 15px;
  padding: 10px;
  border-radius: 5px;
  background-color: #e9f7ef;
  color: #155724;
  text-align: center;
}

@media (max-width: 576px) {
  .card {
    margin: 1rem;
  }
}
