/* Default cart icon link */
.cart-icon-link {
  position: relative;
  color: #333; /* default dark icon color */
  text-decoration: none;
  margin-right: 15px;
  transition: color 0.3s;
}


.cart-icon-link.active-cart-icon {
  color: #dc3545; 
}


.cart-count-badge {
  position: absolute;
  top: -6px;
  right: -10px;
  background-color: red;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
}
